<div class="yielder">
	<h1>Editing mod</h1>
	<%= simple_form_for @mod, url: {action: 'update', multipart: true, class: "form-mod2"} do |f| %>
	  <%= f.error_notification %>
		<%= render 'form', f: f %>
	<% end %>
	<%= link_to 'Show', user_course_mod_path(id: @mod.id) %> |
</div>