<div class="yielder container">
  <h1><%= @course.name %></h1>
  <p id="notice"><%= notice %></p>
  <div class="col-lg-3" id="module-sections">
    <%= render 'sidebar_menu' %>
  </div>

  <div class="col-lg-9" id="module-content">
    <%= render 'mods_load' %>
  </div>
</div>