<h1>New mod</h1>
<%= simple_form_for(@mod, url: user_course_mods_path, html: {method: :post}) do |f| %>
  <%= f.error_notification %>
  <%= render 'form', f: f %>
<% end %>


<%= link_to 'Back', :back %>
