<div class="landing-content">
	<div class="landing-overlay"></div>
	<div>
		<% if user_signed_in? %>
			<%= link_to 'My Profile', user_path(current_user.id) %>
		<% else %>
			<div class="landing-form">
				
			</div>
		<% end %>
	</div>
</div>
