<div class="content">
	<div>
		<h1>Landings#index</h1>
		<p>Find me in app/views/landings/index.html.erb</p>
		<% if user_signed_in? %>
			<%= link_to 'My Profile', user_path(current_user.id) %>
		<% end %>
	</div>
</div>
