    <!--=========== BEGIN FOOTER SECTION ================-->
    <footer id="footer">
      <!-- Start footer top area -->
      <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-ld-4  col-md-4 col-sm-4">
              <div class="single_footer_widget">
                <h3>Latest Courses</h3>
                <% @courses.each do |course|%>
                  <p><%= link_to course.name, view_path(id: course.id )%></p>
                <% end %>
              </div>
            </div>
            <div class="col-ld-4  col-md-4 col-sm-4">
              <div class="single_footer_widget">
                <h3>Community</h3>
                <ul class="footer_widget_nav">
                  <li><a href="http://curators.ng/#section-200">Learning Tracks</a></li>
                  <li><a href="http://curators.ng/#section-28">Open Workshops</a></li>
                  <li><a href="http://curators.ng/#section-81">Initiatives</a></li>
                  <li><a href="http://curators.ng/#section-34">Thought Leadership</a></li>
                </ul>
              </div>
            </div>
<!--             <div class="col-ld-3  col-md-3 col-sm-3">
              <div class="single_footer_widget">
                <h3>Partner Links</h3>
                <ul class="footer_widget_nav">
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                  <li><a href="#">Link 5</a></li>
                </ul>
              </div>
            </div> -->
            <div class="col-ld-4  col-md-4 col-sm-4">
              <div class="single_footer_widget">
                <h3>Social Links</h3>

                  <a href="https://www.facebook.com/curatorsu"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                  <a href="https://twitter.com/curatorsu"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>                  
                  <a href="mailto:info@curators.ng"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End footer top area -->

      <!-- Start footer bottom area -->
      <div class="footer_bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footer_bootomLeft">
                <p> Copyright &copy; All Rights Reserved</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footer_bootomRight">
                <p>Designed by <a href="http://curators.ng" rel="nofollow"> Curators Uni</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End footer bottom area -->
    </footer>
    <!--=========== END FOOTER SECTION ================--> 