<div class="col-lg-3">
	<%= @user.email %>
	<%= link_to "current_user_show", current_user %>
</div>
<div class="col-lg-9">
	<div class="row"><%= @user.courses.all %></div>
	<div class="row">This will contain courses similar to courses you are enrolled for</div>
</div>

