<h1>New course</h1>
<%= simple_form_for(@course, url: user_courses_path, html: {method: :post, multipart: true}) do |f| %>
  <%= f.error_notification %>
  <%= render 'form', f: f %>
<% end %>

<%= link_to 'Back', :back %>
