/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= stub active_admin

*= require_self
*/
@import "bootstrap_configuration";

@import "bootstrap-sprockets";

@import "bootstrap";

//->Prelang (ui_framework:twitter_bootstrap)

// Give everything in 'yield' margin to separate it.
body {
}

a {
  color: #00C3FF;	
}

.yield {
  margin: 70px;
  font: 18px/26px "ralewayregular", Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
}

.yielder{
	margin-top: 90px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

//->Prelang (user_login:devise)
.form-user {
  max-width: 450px;
}

.navbar {
	margin-bottom: 0;
	font-family: 'ralewaymedium', Helvetica, Arial, sans-serif;
}
.navbar-default {
	height: 80px;
	background-color: white;
}

.navbar-header {
	vertical-align: middle;
	padding-left: 20px;	
	margin-top: 0px;
}
.navbar-brand img {
	width: 150px;
	max-height: 70px;
	margin-left: 43px;
	padding-right: 10px;
	margin-right: 10px;
}
.navbar-right {
	vertical-align: middle;
	align-content: middle;
	margin-top: 12px;
	margin-right: 30px;
}

.flasher {
	max-height: 20px;
	margin-top: 80px;
}

.btn-primary {
  	background-color: #00C3FF;
  	color: white;
  	border-color: #00C3FF;
}