.all-courses .btn {
	width: 100%;
}
.all-courses .card-content {
	padding-left: 15px;
	padding-right: 15px;
}
.course-info {
	padding-right: 15px;
	padding-left: 30px;
}

div .course-header {
	padding-left: 15px;
	font-family: "Open Sans", sans-serif;
	padding-bottom: 20px;
}

.course-header h1 {
	font-size: 60px;
	color: #00C3FF;
}

.course-subhead img {
	width: 80%;
}

.course-action .btn {
	width: 200px;
	margin-top: 10px;
}

.mod-preview {
	padding-left: 100px;
	padding-right: 50px;
	width: 100%;
}