.single_course .btn {
	width: 100%;
	border-radius: 0px;
}

div .course-header {
	padding-left: 15px;
	font-family: "Open Sans", sans-serif;
	padding-bottom: 20px;
}

.course-header h1 {
	font-size: 60px;
	color: #00C3FF;
}

.course-subhead img {
	width: 80%;
}

.course-action .btn {
	width: 200px;
	margin-top: 10px;
}

.course-info {
	margin-bottom: 20px;
}

.mod-preview {
	padding-left: 100px;
	padding-right: 50px;
	width: 100%;
	overflow-wrap: normal;
}

.mod-preview .card {
	width: 200px;
}

.mod-preview .btn {
	width: 200px;	
}