// Place all the styles related to the Landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing-content {
	background: image_url('guy.jpeg') no-repeat;
	max-height: 860px;
	min-height: 600px;
	margin-top: 80px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.landing-overlay {
	background: image_url('overlay-pattern.png') repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.landing-info {
	max-width: 750px;
	margin-left: 60px;
	margin-top: 100px;
	color: white;
}

.landing-info h1 {
	font-family: "Open Sans", sans-serif;
	font-size: 60px;
	font-weight: bold;
	color: #00C3FF;
}

.landing-info p {
	font-size: 20px;
	padding-top: 10px;
}

.landing-form {
	margin-top: 100px;
	margin-right: 20px;
	color: white;

}

.landing-signup {
	display: none;
}

.landing-card {
	vertical-align: middle;
	height: 250px;
	width: 300px;
	background-color: #00C3FF;
	border-radius: 10px 10px 10px 10px;
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
	margin-top: 45px;
}

.landing-card .btn-switch {
	color: #00C3FF;
	background-color: white;
	margin-top: 50px;
}

.landing-form .btn-primary {
	width: 262px;
	font-size: 20px;
	font-weight: bold;
}

.landing-form .control-label {
	display: none;
}
.btn-dir {
	margin-top: 100px;
	width: 200px;
	height: 50px;
	vertical-align: middle;
}

#fcs {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
	margin-right: 0px;
	padding-left: 50px;
}

.featured-course {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.featured-course img {
	position: relative;
	transition: transform 1s;
}

.featured-course img:hover {
  transform: translate(20px, 20px);
}

.featured-course img:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.featured-course .name {
	position: absolute;
	top: 112px;
	left: 193px;
	width: 30%;
	color: white;
	width: 200px;
	background-color: #00C3FF;
}