/*Sidebar*/
.module-name {

}

.module-status {
	border-left: thick solid #00C3FF;
	line-height: 30px;
}


/*Content Bar*/
.videos {
	
}

.audios {
	display: none;
}

.notes {
	display: none;
}

.docs {
	display: none;
}