/*Sidebar*/
.module-name {

}

.module-status {
	border-left: thick solid #00C3FF;
	line-height: 30px;
}


/*Content Bar*/


/*Form Styles only*/
.form-mod {
	width: 450px; 
	height: 500px;
	margin-right: auto; 
	margin-left: auto; 
}

.form-mod .control-label {
	display: none;
}

.form-mod .form-action {
	text-align: center;
	vertical-align: middle;
	align-self: center;
	width: 100%;
}

.edit_mod {
	width: 450px; 
	height: 500px;
	margin-right: auto; 
	margin-left: auto; 
}

.edit_mod .control-label {
	display: none;
}

.edit_mod .form-action {
	text-align: center;
	vertical-align: middle;
	align-self: center;
	width: 100%;
}